// priser
$worksans: "Work Sans", sans-serif;

//rubriker
$rufina: "Rufina", serif;

// paragrafer
$PT: "PT Serif", serif;

//färger
$white: #ffffff;
$beige: #f3e4e1;
$black: #2f2926;
$red: #e5674e;
$green: #38846d;


//tror det var alla vi behöver
